.dot-sub {
    width: 2px;
    height: 16px;
    border-radius: 1px;
    display: inline-block;
    background-color: var(--border-normal);
}

.dot {

    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.text-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.items-center {
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.flex {
    display: flex;
}

.mr-1 {
    margin-right: 4px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-1 {
    margin-bottom: 4px;
}

.mr-2 {
    margin-right: 8px;
}

.gap-2 {
    gap: 8px;
}

.gap-6 {
    gap: 24px;
}


.outline {
    position: absolute;
    inset: 0;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: inset 0 0 0 10px var(--primary-50);
    transition: box-shadow 0.15s ease-in-out;
}

.scale {
    animation: scale 0.15s ease-in-out forwards;
}


.object-cover {
    object-fit: cover;
}

.object-contain {
    object-fit: contain;
}

.max-h-12 {
    max-height: 48px;
    overflow: hidden;
}

.relative {
    position: relative;
}

.time {
    font-size: 0.9rem;
    color: var(--text-normal);
}

.chip-id {
    background-color: var(--border-normal);
    color: var(--text-normal);
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

@keyframes scale2 {
    0% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.card:hover .title {
    color: var(--primary);
}